body, html {
  font-size: 16px;
  background-color: black;
  height: 100%;
  padding: 0;
  margin: 0;
}

.title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 150;
  color: white;
  font-size: calc(1.2rem + 1.2vw);
}

.bg-image {
  background-image: url("/assets/images/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  position:fixed;
  width:100%;
  height:100%;
}

.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 2.5px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  padding: 20px;
  text-align: center;
}

p {
  font-size: calc(0.5rem + 0.5vw);
}

.cta,a {
  font-size: calc(0.6rem + 0.6vw);
  text-decoration: none;
  color: pink;
}

button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.5rem + 0.5vw);
  transition-duration: 0.4s;
}

button:hover {
  background-color: pink; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#cat {
  max-width: 80%;
  height: 300px;
}

  