#header {
    background: #664c8f;
    height: auto;
    padding: 100px 100px
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}


h1 {
    color: white;
    text-align: center;
}
a#download {
    display: block;
    text-align: center;
    width: 150px;
    margin: 0px auto;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 10px;
}

body {
  font-family: "Space Mono", sans-serif;
  color: white;
  background: #222;
}

a {
  color: white;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}

a:hover {
  color: transparent;
  transition: 500ms ease;
  font-size: 20px;
}

.aligned {
  display: flex;
  align-items: center;
        }
          
span {
  padding: 10px;
        }


.light-mode {
  background-color: white;
  color: black;
}
