#header {
    background: #664c8f;
    height: auto;
    padding: 100px 100px
}
h1 {
    color: white;
    font-family: Arial;
    text-align: center;
}
a#download {
    display: block;
    text-align: center;
    width: 150px;
    margin: 0px auto;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 10px;
}

body {
  font-family: "Ubuntu Sans Mono", sans-serif;
  color: white;
  background-color: #3b3b3b;
}

a:link {
  color: white;
}

a:visited {
  color: #f9f1f1;
}

a:hover {
  color: white;
  font-size: 20px;
}

a:active {
  color: yellow;
  font-size: 20px;
}

.aligned {
  display: flex;
  align-items: center;
        }
          
span {
  padding: 10px;
        }

.ubuntu-sans-mono-font {
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

