@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* The main container */

.container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    height: 80%;
}

img {
    width: 50px;
    vertical-align: middle;
    border-style: none;
    border-radius: 100%;
}
/* Styling the msg-header container */
.msg-header {
    border: 1px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #efefef;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.msgimg {
    margin-left: 2%;
    float: left;
}

.container1 {
    width: 270px;
    height: auto; 
    float: left;
    margin: 0;
}

/* styling user-name */
.active {
    width: 150px;
    float: left;
    color: black;
    font-weight: bold;
    margin: 0 0 0 5px;
    height: 10%;
 
}

/* Styling the chat box container */
.chat-page {
    padding: 0 0 50px 0;
}

.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chats {
    padding: 30px 15px 0 25px;
}

/* Styling the message page */

.msg-page {
    max-height: 500px;
    overflow-y: auto;
}



