.head-div {
text-align:center;
padding:20%;
padding-top:2%;
padding-bottom:3%;
}

.link-div{ 
    padding:20%;
    padding-top:1%;
    padding-bottom:1%;
}

.alink{
    text-align: center;
    margin-top: 1px;
    padding: 20px 0;
    max-width: 590px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:blue;
    color:white;
    text-decoration:none;

}

.alink:hover{
    color:blue;
    background-color:white;
    border: 2px solid;
    border-color:blue;
}

.copyright{
    text-align:center;
}
