.bg-image {
  background-image: url("/assets/images/main.webp");
}

p {
  font-size: calc(0.9rem + 0.9vw);
}

button {
 background-color: transparent;
 color: white;
 font-size: calc(0.6rem + 0.6vw);
}
