body, html {
  background-color: #222;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(60px);
  -webkit-filter: blur(60px);
  position:fixed;
  width:100%;
  height:100%;
}

.bg-text {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 5px solid rgba(255, 255, 255, 0.247);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 150;
  color: white;
  font-size: calc(1.4rem + 1.4vw);
}

a {
  font-size: calc(0.6rem + 0.6vw);
  text-decoration: none;
  position: relative;
  color: white;
  margin: 15px 8px;
  
}
  
a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background: linear-gradient(50deg, #5BCEFA, #F5A9B8, white, #F5A9B8, #5BCEFA); 
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}
  
a:hover::after {
  transform: scaleX(1);
}
