body, html {
  background-color: #222;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 150;
  color: white;
  font-size: calc(1.2rem + 1.2vw);
  text-decoration: none;
}

.bg-image {
  background-image: url("/assets/images/minecraft.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  position:fixed;
  width:100%;
  height:100%;
}

.bg-text {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 5px solid rgba(255, 255, 255, 0.247);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50%;
  padding: 20px;
  text-align: center;
}

br {
  line-height: calc(1.4rem + 1.4vw);
}


