.bg-image {
  background-image: url("/assets/images/projects.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(60px);
  -webkit-filter: blur(60px);
  position:fixed;
  width:100%;
  height:100%;
}

a {
  font-size: calc(0.5rem + 1vw);
  text-decoration: none;
  color: greenyellow;
  transition-duration: 0.4s;
}

.cta:hover {
  font-size: calc(0.7rem + 1.2vw);
  text-decoration: none;
}

br {
  line-height: calc(1.4rem + 1.4vw);
}

