body {
    background: url('images/jonny-gios-RQQRZ0G296E-unsplash.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;

}


h1 {
    font-size: 24px;
    color: #09323f;
}


/* Music Player */
#music-player {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
}

#music-player:hover {
    transform: scale(1.05);
}


/* Album Photo */
.album-art {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

#album-photo {
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-radius: 50%;
    animation: borderGlow 2s infinite;
}

@keyframes borderGlow {
    0% {
        border-color: #FF5722;  /* Initial border color */
        box-shadow: 0 0 10px #FF5722;  /* Initial box shadow color */
    }
    50% {
        border-color: #FFC107;  /* Middle border color */
        box-shadow: 0 0 20px #FFC107;  /* Middle box shadow color */
    }
    100% {
        border-color: #FF5722;  /* Final border color */
        box-shadow: 0 0 10px #FF5722;  /* Final box shadow color */
    }
}


/* Controls */
#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


/* Button */
button {
    background-color: #0db16c;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: border 0.3s;
}

button:hover {
    border: 2px solid #0db16c;
}


/* Track Name */
#track-name {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}


/* Track Time */
#current-time, #total-duration {
    font-size: 14px;
    color: #fff;
    margin: 0 10px;
}

#current-time::before {
    content: "Current Time: ";
}

#total-duration::before {
    content: "Total Duration: ";
}


/* Input */
input[type="range"] {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

input[type="range"]:hover {
    opacity: 1;
}


/* Ribbon Design */
#ribbon {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff6347;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: none;
    margin-top: 15px;
}

#ribbon.active {
    animation: ribbon-fade-in 2s linear;
}

@keyframes ribbon-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Border Animation with cool effects */
#music-player {
    border: 5px solid transparent;
    animation: borderAnimation 5s infinite linear;
}

@keyframes borderAnimation {
    0% {
        border-top: 5px solid #FF416C;
        border-right: 5px solid #FF4B2B;
        border-bottom: 5px solid #FF7F12;
        border-left: 5px solid #FFD200;
    }
    25% {
        border-top: 5px solid #FFD200;
        border-right: 5px solid #FF416C;
        border-bottom: 5px solid #FF4B2B;
        border-left: 5px solid #FF7F12;
    }
    50% {
        border-top: 5px solid #FF7F12;
        border-right: 5px solid #FFD200;
        border-bottom: 5px solid #FF416C;
        border-left: 5px solid #FF4B2B;
    }
    75% {
        border-top: 5px solid #FF4B2B;
        border-right: 5px solid #FF7F12;
        border-bottom: 5px solid #FFD200;
        border-left: 5px solid #FF416C;
    }
    100% {
        border-top: 5px solid #FF416C;
        border-right: 5px solid #FF4B2B;
        border-bottom: 5px solid #FF7F12;
        border-left: 5px solid #FFD200;
    }
}
