body {
  background-image: url('/assets/images/freakbg.png');
}

.tg  {border-collapse:collapse;border-color:#C44D58;border-spacing:0;}

.tg td{background-color:#F9CDAD;border-color:#C44D58;border-style:solid;border-width:1px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}

.tg th{background-color:#FE4365;border-color:#C44D58;border-style:solid;border-width:1px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}

.tg .tg-e2zq{background-color:#ffffff;border-color:#340096;font-family:"Lucida Console", Monaco, monospace !important;
  font-weight:bold;text-align:left;vertical-align:top}

.tg .tg-t38a{background-color:#fffe65;border-color:#340096;color:#340096;font-family:"Arial Black", Gadget, sans-serif !important;
  font-weight:bold;text-align:center;vertical-align:top}

.tg .tg-0kek{background-color:#fffe65;border-color:#340096;color:#340096;font-family:"Arial Black", Gadget, sans-serif !important;
  font-weight:bold;text-align:left;vertical-align:top}
