body {
  background-image: url("/assets/images/background.jpg");
  color: black;
}

.center {
  background-image: url("/assets/images/paper.jpg");
  margin: auto;
  width: 50%;
  padding: 10px;
}

.title {
  margin: auto;
  width: 50%;
  padding: 10px;
}
