.center {
  background-image: url("/assets/images/paper.jpg");
  margin: auto;
  width: 50%;
  padding: 10px;
}

.title {
  float: left;
  margin: auto;
  width: 50%;
  padding: 10px;	
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}

.title-image {
    float:right;
    padding: 30px;
}


body, html {
  height: 100%;
  background-color: pink;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("/assets/images/background.jpg");

  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

p,h2,a {
  float:left;
  width: 50%;
  line-height: 1;
}

.cta {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.2rem;

}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}