.center {
  background-image: url("/assets/images/paper.jpg");
  margin: auto;
  width: 50%;
  padding: 10px;
}

.title {
  float:left;
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}

.title-image {
    float:right;
}


body, html {
  height: 100%;
  color: black;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("/assets/images/background.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
